
@{
    ViewData["Title"] = "mypage";
}



<div class="container" style="border:solid 1px; margin:2%; padding:2%;">

    <div class="row">
        <div class="col-sm-4">
            <img src="~/images/formimage.jpg" width="100" height="50" class="center-block" style="margin-top:5%;" />
        </div>
        <div class="col-sm-8">
            <h2 class="text-left">Please fill in the form </h2>
        </div>
    </div>
    <br /><br />




          <form action="/mypage" method="post">
              <div class="row" style="display:block; margin:2% 0% 0% 10%;">
                  <div class="col-sm-4">
                      @Html.Label("Name")
                  </div>
                  <div class="col-sm-8">
                      @Html.TextBox("Name")
                  </div>
              </div>

              <div class="row" style="display:block; margin:2% 0% 0% 10%;">
                  <div class="col-sm-4">
                      @Html.Label("Email")
                  </div>
                  <div class="col-sm-8">
                      @Html.TextBox("Email")
                  </div>
              </div>


              <div class="row" style="display:block; margin:2% 0% 0% 10%;">
                  <div class="col-sm-4">
                      @Html.Label("Comments")
                  </div>
                  <div class="col-sm-8">
                      @Html.TextArea("Comments")
                  </div>
              </div>


              <Button type="submit" class="center-block">Submit</Button>


          </form>
</div>

       
   
